<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'About Us', about_us_path %></p>
<p><%= link_to 'Log-in', log_in_path %></p>
<p><%= link_to 'Sign-up', sign_up_path %></p>